<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h3>EMAIL CONCEPT</h3>
<div class="container">
    <form action="{% url 'email' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Enter Your Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Enater Subject</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Subject" name="subject">
          </div>
    
       
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Enter Yout Messages</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="messages"></textarea>
        </div>

        <input type="submit" value="submit" class="btn btn-info">
      </form>

    </div>
</body>
</html>